@import 'style'

$black: #545454
$blue: #8cbded
$pink: #f9acac
$brown: #bf7064
    
.bam-info-wrap
    color: $black
    font-size: 1vw
    background: #FFF

    .bam-info-cursor
        display: none
        z-index: 3
        position: absolute
        width: 3%
        top: 0
        left: 0
        filter: drop-shadow(0 0.5em 0.25em rgba(#000, 0.5))

    .bam-info-short
        position: relative
        height: 111em
        overflow: hidden
        &.active
            height: auto
            .bam-info-cut
                display: none
        .bam-info-cut
            display: block
            z-index: 1
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            .info-stand
                bottom: 20%
                left: 64%
                article
                    background: #638edd
        .bam-info-cut-pink
            .info-stand
                article
                    background: #f95858

    .bam-info-bg
        position: relative
        width: 100%
        padding-top: percentage(4296/1920)
        background-position: top center! important
        background-repeat: no-repeat! important
        background-size: cover! important

    .bam-info-title
        position: absolute
        top: 0
        left: 18%
        width: 32%
        .kv-ppl
            position: absolute
            bottom: -12%
            right: -15%
            width: 20%
            transition: transform 0.5s

    .bam-info-title-1,
    .bam-info-title-2
        position: absolute
        display: block
        width: 20%
        transition: transform 0.5s
    .bam-info-title-1
        top: 7.8%
        left: 26%
    .bam-info-title-2
        top: 2%
        left: 56.25%

    .bam-info-say-1,
    .bam-info-say-2
        position: absolute
        display: block
        width: 14.5%
        transition: transform 0.5s
        p
            position: absolute
            font-size: 0.9em
            top: 0
            left: 0
            text-align: justify
            line-height: 135%
            padding: 0.65em 1.25em
        span
            display: block
            position: absolute
    .bam-info-say-1
        top: 13%
        left: 18%
        span
            bottom: 5.5%
            left: 50%
            color: $blue
    .bam-info-say-2
        top: 7.25%
        left: 68.5%
        span
            bottom: 3.5%
            left: 65.5%
            color: $pink

    .bam-info-house-1,
    .bam-info-house-2
        display: block
        position: absolute
        width: 33.5%
    .bam-info-house-1
        top: 14.1%
        left: 24.5%
    .bam-info-house-2
        top: 8.2%
        left: 49.6%

    .bam-info-des
        z-index: 1
        position: absolute
        width: 50%
        right: 0
        left: 0
        margin: auto
        top: 5.5%
        opacity: 0
        pointer-events: none
        transform: translateY(1.5em)
        transition: opacity 0.5s, transform 0.5s
        &.active
            opacity: 1
            pointer-events: all
            transform: translateY(0)
        p
            position: absolute
            top: 60%
            left: 50%
            width: 80%
            text-align: center
            font-size: 1.2em
            transform: translate(-50%, -50%)
        .bam-info-des-close
            position: absolute
            right: 2%
            bottom: 5%
            width: 7%
            padding-top: 7%

    .car-green,
    .car-blue,
    .car-red
        display: block
        position: absolute
    .car-green
        top: 9%
        left: 13.5%
        width: 5.5%
    .car-blue
        top: 14.65%
        left: 85%
        width: 5%
    .car-red
        top: 31.1%
        left: 17.5%
        width: 5.5%

    .info-stand
        position: absolute
        width: 19.5%
        img
            display: block
            width: 24%
            margin: auto
        article
            position: absolute
            bottom: 100%
            left: 0
            width: 100%
            text-align: center
            color: #FFF
            padding: 1em 0
            background: var(--color-main)
            border-radius: 1.5em
            &::after
                position: absolute
                top: 0.6em
                left: 0.6em
                width: calc(100% - 1.2em)
                height: calc(100% - 1.2em)
                content: ''
                border: 1px solid #FFF
                border-radius: 1.25em
            h3
                font-size: 1.5em
            p
                font-size: 0.9em
                padding: 0.25em 0 0.5em 0

    .info-block-video
        position: absolute
        width: 20%
        top: 22.5%
        left: 19.5%
        a
            position: absolute
            width: 93.5%
            padding-top: 53.5%
            top: 9%
            left: 3.5%
            background-repeat: no-repeat! important
            background-position: center center! important
            background-size: cover! important
            overflow: hidden
            img
                display: block
                position: absolute
                width: 15%
                top: 35%
                left: 45%

    .info-a-block
        display: block
        position: absolute
        width: 15.5%
        transition: transform 0.5s
        > img
            position: absolute
            display: block
            bottom: 0
            left: 0
            width: 28%
            transform: translateX(-50%)
        h4
            position: absolute
            font-size: 1em
            width: 2em
            bottom: 0
            left: 0
            line-height: 120%
            transform: translate(-50%, -105%)
        article
            border: 2px solid var(--color-main)
            border-radius: 1em 1em 1em 0
            background: #FFF
            font-size: 0.9em
            padding: 0.5em 0.5em 0.5em 2.75em
            line-height: 125%
            img
                display: block
                margin-bottom: 0.25em
    .info-a-title
        position: absolute
        p
            position: absolute
            top: 18%
            left: 48%
            color: #FFF
            transform: translateX(-50%)
            font-size: 1.25em
            letter-spacing: 0.1em
            white-space: nowrap
        &.small
            width: 12%
        &.big
            width: 18%
            p
                top: 15%
    .notice-block
        position: absolute
        left: 0
        right: 0
        margin: auto
        border: 2px solid $brown
        width: 58%
        padding: 2em 3em
        text-align: justify
        border-radius: 1.5em
        background: #FFF
        line-height: 200%
        h4
            text-align: center
            color: $brown
            font-size: 1.5em
            margin-bottom: 0.5em
        ol
            margin-left: 1em

    .bam-info-content-blue
        .info-block-1
            --color-main: #a2d0f2
            .info-stand
                top: 25.5%
                left: 63%
        .info-block-2
            --color-main: #77c1ff
            .info-stand
                top: 40%
                left: 17.5%
        .info-block-3
            --color-main: #638edd
            .info-stand
                top: 54.5%
                left: 63%
        .notice-block
            top: 75%
    .bam-info-content-pink
        .info-block-1
            --color-main: #ff9999
            .info-stand
                top: 25.5%
                left: 63%
        .info-block-2
            --color-main: #f47878
            .info-stand
                top: 40%
                left: 17.5%
        .info-block-3
            --color-main: #f95858
            .info-stand
                top: 54.5%
                left: 63%
        .notice-block
            top: 88%

    .bam-info-lightbox,
    .bam-info-lightbox-popup
        display: none
        z-index: 9
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(#000, 0.8)
    .bam-info-lightbox-blue,
    .bam-info-lightbox-pink
        display: none
        position: absolute
        top: 50%
        left: 50%
        width: 65%
        transform: translate(-50%, -50%)
        background: #FFF
        padding: 1.5em 3em
        border-radius: 2em
        border: 0.25em solid $blue
        text-align: justify
        .bam-info-lightbox-close
            display: block
            position: absolute
            top: 1.5em
            right: 1.5em
            width: 1.5em
        h4
            font-size: 1.25em
            text-align: center
            padding-bottom: 1em
            color: #638edd
        article
            max-height: 70vh
            overflow-y: auto
            -webkit-overflow-scrolling: touch
            > div
                margin-top: 1.5em
                padding-top: 1.5em
                border-top: 1px dashed #CCC
                font-size: 0.8em
                ul
                    margin-left: 1.5em
    .bam-info-lightbox-pink
        border-color: $pink
        h4
            color: #f47878
    .info-popup-block
        display: none
        position: absolute
        width: 50%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    .bam-info-lightbox-popup-close
        position: absolute
        width: 7.5%
        padding-top: 7.5%
        right: 4.5%
        top: 4.5%
        border-radius: 50%
    .bam-info-lightbox-popup-href
        display: block
        position: absolute
        bottom: 4%
        left: 0
        right: 0
        margin: auto
        width: 22%
        padding-top: 6.5%
        border-radius: 10em

@media only screen and (min-width: 1025px)
    .bam-info-wrap
        .kv-ppl
            &:hover
                transform: scale(1.1)
        .bam-info-title-1,
        .bam-info-title-2,
        .bam-info-say-1,
        .bam-info-say-2,
        .info-a-block
            &:hover
                transform: translateY(-0.5em)

@media only screen and (max-width: 1024px)