@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}
body.fix {
  overflow: hidden;
}

.bam-info-wrap {
  width: 100%;
  font-family: "Noto Sans TC";
  -moz-text-size-adjust: none;
       text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
.bam-info-wrap *:not(.swiper-button) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bam-info-wrap *:not(.swiper-button)::before, .bam-info-wrap *:not(.swiper-button)::after {
  box-sizing: border-box;
}
.bam-info-wrap a {
  text-decoration: none;
  color: inherit;
}
.bam-info-wrap .fullimg {
  display: block;
  width: 100%;
}
.bam-info-wrap .swiper-button {
  z-index: 1;
}
.bam-info-wrap .swiper-button::after {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .for-m {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .for-pc {
    display: none !important;
  }
}
.bam-info-wrap {
  position: relative;
  color: #545454;
  font-size: 1vw;
  background: #FFF;
  overflow: hidden;
}
@keyframes showup {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
.bam-info-wrap .bam-info-cursor {
  display: none;
  z-index: 3;
  position: absolute;
  width: 3%;
  top: 0;
  left: 0;
  filter: drop-shadow(0 0.5em 0.25em rgba(0, 0, 0, 0.5));
}
.bam-info-wrap .bam-info-short {
  position: relative;
  height: 111em;
  overflow: hidden;
}
.bam-info-wrap .bam-info-short.main-1.active {
  height: 190em;
}
.bam-info-wrap .bam-info-short.main-2.active {
  height: 220em;
}
.bam-info-wrap .bam-info-short.active .bam-info-cut {
  display: none !important;
}
.bam-info-wrap .bam-info-short .bam-info-cut {
  display: block;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bam-info-wrap .bam-info-short .bam-info-cut .info-stand {
  bottom: 20%;
  left: 64%;
}
.bam-info-wrap .bam-info-short .bam-info-cut .info-stand article {
  background: #638edd;
}
.bam-info-wrap .bam-info-short .bam-info-cut-pink .info-stand article {
  background: #f95858;
}
.bam-info-wrap .bam-info-bg {
  position: relative;
  width: 100%;
  padding-top: 223.75%;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.bam-info-wrap .bam-info-title {
  position: absolute;
  top: 0;
  left: 18%;
  width: 32%;
  opacity: 0;
  transform: translateY(-100%);
  animation: showup 1s forwards;
}
.bam-info-wrap .bam-info-title .kv-ppl {
  position: absolute;
  bottom: -12%;
  right: -15%;
  width: 20%;
  transition: transform 0.5s;
}
.bam-info-wrap .bam-info-title-1,
.bam-info-wrap .bam-info-title-2 {
  position: absolute;
  display: block;
  width: 20%;
  opacity: 0;
  transform: translateY(25%);
  transition: transform 0.5s;
}
.bam-info-wrap .bam-info-title-1 img,
.bam-info-wrap .bam-info-title-2 img {
  transition: transform 0.5s;
}
.bam-info-wrap .bam-info-title-1 {
  top: 7.8%;
  left: 26%;
  animation: showup 1s 1.25s forwards;
}
.bam-info-wrap .bam-info-title-2 {
  top: 2%;
  left: 56.25%;
  animation: showup 1s 1.75s forwards;
}
.bam-info-wrap .bam-info-say-1,
.bam-info-wrap .bam-info-say-2 {
  position: absolute;
  display: block;
  width: 14.5%;
  opacity: 0;
  transform: translateY(25%);
}
.bam-info-wrap .bam-info-say-1 > div,
.bam-info-wrap .bam-info-say-2 > div {
  transition: transform 0.5s;
}
.bam-info-wrap .bam-info-say-1 p,
.bam-info-wrap .bam-info-say-2 p {
  position: absolute;
  font-size: 0.9em;
  top: 0;
  left: 0;
  text-align: justify;
  line-height: 135%;
  padding: 0.65em 1.25em;
}
.bam-info-wrap .bam-info-say-1 span,
.bam-info-wrap .bam-info-say-2 span {
  display: block;
  position: absolute;
}
.bam-info-wrap .bam-info-say-1 {
  top: 13%;
  left: 18%;
  animation: showup 1s 1.5s forwards;
}
.bam-info-wrap .bam-info-say-1 span {
  bottom: 5.5%;
  left: 50%;
  color: #8cbded;
}
.bam-info-wrap .bam-info-say-2 {
  top: 7.25%;
  left: 68.5%;
  animation: showup 1s 2s forwards;
}
.bam-info-wrap .bam-info-say-2 span {
  bottom: 3.5%;
  left: 65.5%;
  color: #f9acac;
}
.bam-info-wrap .bam-info-house-1,
.bam-info-wrap .bam-info-house-2 {
  display: block;
  position: absolute;
  width: 33.5%;
  opacity: 0;
}
.bam-info-wrap .bam-info-house-1 {
  top: 14.1%;
  left: 24.5%;
  animation: showup 1s 1s forwards;
}
.bam-info-wrap .bam-info-house-2 {
  top: 8.2%;
  left: 49.6%;
  animation: showup 1s 1.5s forwards;
}
.bam-info-wrap .bam-info-des {
  z-index: 1;
  position: absolute;
  width: 50%;
  right: 0;
  left: 0;
  margin: auto;
  top: 5.5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(1.5em);
  transition: opacity 0.5s, transform 0.5s;
}
.bam-info-wrap .bam-info-des.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.bam-info-wrap .bam-info-des p {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}
.bam-info-wrap .bam-info-des .bam-info-des-close {
  position: absolute;
  right: 2%;
  bottom: 5%;
  width: 7%;
  padding-top: 7%;
}
.bam-info-wrap .car-green,
.bam-info-wrap .car-blue,
.bam-info-wrap .car-red {
  display: block;
  position: absolute;
}
.bam-info-wrap .car-green {
  top: 9%;
  left: 13.5%;
  width: 5.5%;
  transform: translate(-20em, -9.5em);
  animation: cargreen linear 7s infinite;
}
@keyframes cargreen {
  to {
    transform: translate(100em, 47.5em);
  }
}
.bam-info-wrap .car-blue {
  z-index: 1;
  top: 14.75%;
  left: 85%;
  width: 5%;
  transform: translate(20em, -9.5em);
  animation: carblue linear 7s 4s infinite;
}
@keyframes carblue {
  to {
    transform: translate(-100em, 47.5em);
  }
}
.bam-info-wrap .car-red {
  top: 31.1%;
  left: 17.5%;
  width: 5.5%;
  transform: translate(-24em, 11.35em);
  animation: carred linear 7s 1.5s infinite;
}
@keyframes carred {
  to {
    transform: translate(100em, -47.5em);
  }
}
.bam-info-wrap .info-stand {
  position: absolute;
  width: 19.5%;
}
.bam-info-wrap .info-stand img {
  display: block;
  width: 24%;
  margin: auto;
}
.bam-info-wrap .info-stand article {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  padding: 1em 0;
  background: var(--color-main);
  border-radius: 1.5em;
}
.bam-info-wrap .info-stand article::after {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  width: calc(100% - 1.2em);
  height: calc(100% - 1.2em);
  content: "";
  border: 1px solid #FFF;
  border-radius: 1.25em;
}
.bam-info-wrap .info-stand article h3 {
  font-size: 1.5em;
}
.bam-info-wrap .info-stand article p {
  font-size: 0.9em;
  padding: 0.25em 0 0.5em 0;
}
.bam-info-wrap .info-block-video {
  z-index: 1;
  position: absolute;
  width: 20%;
  top: 22.5%;
  left: 19.5%;
}
.bam-info-wrap .info-block-video a {
  position: absolute;
  width: 93.5%;
  padding-top: 53.5%;
  top: 9%;
  left: 3.5%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  overflow: hidden;
}
.bam-info-wrap .info-block-video a img {
  display: block;
  position: absolute;
  width: 15%;
  top: 35%;
  left: 45%;
  filter: drop-shadow(0 0.5em 0.25em rgba(0, 0, 0, 0.5));
}
.bam-info-wrap .info-a-block {
  display: block;
  position: absolute;
  width: 15.5%;
  transition: transform 0.5s;
  opacity: 0;
  animation: fadein 1s 1s forwards;
}
.bam-info-wrap .info-a-block > img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 28%;
  transform: translateX(-50%);
}
.bam-info-wrap .info-a-block h4 {
  position: absolute;
  font-size: 1em;
  width: 2em;
  bottom: 0;
  left: 0;
  line-height: 120%;
  transform: translate(-50%, -105%);
}
.bam-info-wrap .info-a-block article {
  border: 2px solid var(--color-main);
  border-radius: 1em 1em 1em 0;
  background: #FFF;
  font-size: 0.9em;
  padding: 0.5em 0.5em 0.5em 2.75em;
  line-height: 125%;
}
.bam-info-wrap .info-a-block article img {
  display: block;
  margin-bottom: 0.25em;
}
.bam-info-wrap .info-a-title {
  position: absolute;
}
.bam-info-wrap .info-a-title p {
  position: absolute;
  top: 18%;
  left: 48%;
  color: #FFF;
  transform: translateX(-50%);
  font-size: 1.25em;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.bam-info-wrap .info-a-title.small {
  width: 12%;
}
.bam-info-wrap .info-a-title.big {
  width: 18%;
}
.bam-info-wrap .info-a-title.big p {
  top: 15%;
}
.bam-info-wrap .notice-block {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #bf7064;
  width: 58%;
  padding: 2em 3em;
  text-align: justify;
  border-radius: 1.5em;
  background: #FFF;
  line-height: 200%;
}
.bam-info-wrap .notice-block h4 {
  text-align: center;
  color: #bf7064;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.bam-info-wrap .notice-block ol {
  margin-left: 1em;
}
.bam-info-wrap .bam-info-content-blue .info-block-1 {
  --color-main: #a2d0f2;
}
.bam-info-wrap .bam-info-content-blue .info-block-1 .info-stand {
  top: 25.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-blue .info-block-2 {
  --color-main: #77c1ff;
}
.bam-info-wrap .bam-info-content-blue .info-block-2 .info-stand {
  top: 40%;
  left: 17.5%;
}
.bam-info-wrap .bam-info-content-blue .info-block-3 {
  --color-main: #638edd;
}
.bam-info-wrap .bam-info-content-blue .info-block-3 .info-stand {
  top: 54.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-blue .notice-block {
  top: 75%;
}
.bam-info-wrap .bam-info-content-pink .info-block-1 {
  --color-main: #ff9999;
}
.bam-info-wrap .bam-info-content-pink .info-block-1 .info-stand {
  top: 25.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-pink .info-block-2 {
  --color-main: #f47878;
}
.bam-info-wrap .bam-info-content-pink .info-block-2 .info-stand {
  top: 40%;
  left: 17.5%;
}
.bam-info-wrap .bam-info-content-pink .info-block-3 {
  --color-main: #f95858;
}
.bam-info-wrap .bam-info-content-pink .info-block-3 .info-stand {
  top: 54.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-pink .notice-block {
  top: 88%;
}
.bam-info-wrap .bam-info-lightbox,
.bam-info-wrap .bam-info-lightbox-popup,
.bam-info-wrap .bam-info-lightbox-youtube {
  display: none;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.bam-info-wrap .bam-info-lightbox-blue,
.bam-info-wrap .bam-info-lightbox-pink {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  background: #FFF;
  padding: 1.5em 3em;
  border-radius: 2em;
  border: 0.25em solid #8cbded;
  text-align: justify;
}
.bam-info-wrap .bam-info-lightbox-blue .bam-info-lightbox-close,
.bam-info-wrap .bam-info-lightbox-pink .bam-info-lightbox-close {
  display: block;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 1.5em;
}
.bam-info-wrap .bam-info-lightbox-blue h4,
.bam-info-wrap .bam-info-lightbox-pink h4 {
  font-size: 1.25em;
  text-align: center;
  padding-bottom: 1em;
  color: #638edd;
}
.bam-info-wrap .bam-info-lightbox-blue article,
.bam-info-wrap .bam-info-lightbox-pink article {
  max-height: 70vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.bam-info-wrap .bam-info-lightbox-blue article > div,
.bam-info-wrap .bam-info-lightbox-pink article > div {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px dashed #CCC;
  font-size: 0.8em;
}
.bam-info-wrap .bam-info-lightbox-blue article > div ul,
.bam-info-wrap .bam-info-lightbox-pink article > div ul {
  margin-left: 1.5em;
}
.bam-info-wrap .bam-info-lightbox-pink {
  border-color: #f9acac;
}
.bam-info-wrap .bam-info-lightbox-pink h4 {
  color: #f47878;
}
.bam-info-wrap .info-popup-block {
  display: none;
  position: absolute;
  height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bam-info-wrap .info-popup-block img {
  display: block;
  height: 100%;
}
.bam-info-wrap .bam-info-lightbox-popup-close {
  position: absolute;
  width: 7.5%;
  padding-top: 7.5%;
  right: 4.5%;
  top: 4.5%;
  border-radius: 50%;
}
.bam-info-wrap .bam-info-lightbox-popup-href {
  display: block;
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  margin: auto;
  width: 22%;
  padding-top: 6.5%;
  border-radius: 10em;
}
.bam-info-wrap .bam-info-lightbox-youtube .bam-info-yt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}
.bam-info-wrap .bam-info-lightbox-youtube .bam-info-yt-wrap .bam-info-lightbox-youtube-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  transform: translateY(-125%);
  filter: brightness(0) invert(1);
}
.bam-info-wrap .bam-info-lightbox-youtube .bam-info-yt-wrap .bam-info-yt-block {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}
.bam-info-wrap .bam-info-lightbox-youtube .bam-info-yt-wrap .bam-info-yt-block iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.bam-info-wrap [data-popup=blue-1] {
  top: 27.5%;
  left: 49.5%;
}
.bam-info-wrap [data-popup=blue-2] {
  top: 31.5%;
  left: 64%;
}
.bam-info-wrap [data-popup=blue-3] {
  top: 29.9%;
  left: 41%;
}
.bam-info-wrap [data-popup=blue-4] {
  top: 35%;
  left: 49.5%;
}
.bam-info-wrap [data-popup=blue-5] {
  top: 32.5%;
  left: 33.5%;
}
.bam-info-wrap [data-popup=blue-6] {
  top: 38%;
  left: 61%;
}
.bam-info-wrap [data-popup=blue-7] {
  top: 45.5%;
  left: 39%;
}
.bam-info-wrap [data-popup=blue-8] {
  top: 46.5%;
  left: 20%;
}
.bam-info-wrap [data-popup=blue-9] {
  top: 50%;
  left: 26%;
}
.bam-info-wrap [data-popup=blue-10] {
  top: 58.5%;
  left: 52%;
}
.bam-info-wrap [data-popup=blue-11] {
  top: 70%;
  left: 46%;
}
.bam-info-wrap [data-popup=blue-12] {
  top: 62.5%;
  left: 35%;
}
.bam-info-wrap [data-popup=blue-13] {
  top: 67%;
  left: 59%;
}
.bam-info-wrap [data-popup=blue-14] {
  top: 63.25%;
  left: 68%;
}
.bam-info-wrap .info-a-title-1 {
  top: 55.5%;
  left: 55%;
}
.bam-info-wrap .info-a-title-2 {
  top: 62.5%;
  left: 64%;
}
.bam-info-wrap .info-a-title-3 {
  top: 72%;
  left: 17%;
}
.bam-info-wrap .info-a-title-4 {
  top: 77%;
  left: 45.5%;
}
.bam-info-wrap [data-popup=pink-1] {
  top: 28%;
  left: 47%;
}
.bam-info-wrap [data-popup=pink-2] {
  top: 31%;
  left: 35%;
}
.bam-info-wrap [data-popup=pink-3] {
  top: 31.5%;
  left: 64%;
}
.bam-info-wrap [data-popup=pink-4] {
  top: 35.5%;
  left: 50%;
}
.bam-info-wrap [data-popup=pink-5] {
  top: 38.75%;
  left: 64%;
}
.bam-info-wrap [data-popup=pink-6] {
  top: 46%;
  left: 32%;
}
.bam-info-wrap [data-popup=pink-7] {
  top: 49%;
  left: 22%;
}
.bam-info-wrap [data-popup=pink-8] {
  top: 58.5%;
  left: 52%;
}
.bam-info-wrap [data-popup=pink-9] {
  top: 64%;
  left: 29%;
}
.bam-info-wrap [data-popup=pink-10] {
  top: 61.25%;
  left: 39%;
}
.bam-info-wrap [data-popup=pink-11] {
  top: 70%;
  left: 42%;
}
.bam-info-wrap [data-popup=pink-12] {
  top: 67%;
  left: 59%;
}
.bam-info-wrap [data-popup=pink-13] {
  top: 70.5%;
  left: 67%;
}
.bam-info-wrap [data-popup=pink-14] {
  top: 74%;
  left: 62%;
}
.bam-info-wrap [data-popup=pink-15] {
  top: 75%;
  left: 22%;
}
.bam-info-wrap [data-popup=pink-16] {
  top: 80%;
  left: 45%;
}
.bam-info-wrap [data-popup=pink-17] {
  top: 83.5%;
  left: 30%;
}
.bam-info-wrap [data-popup=pink-18] {
  top: 83.5%;
  left: 60%;
}

@media only screen and (min-width: 1025px) {
  .bam-info-wrap .kv-ppl:hover {
    transform: scale(1.1);
  }
  .bam-info-wrap .bam-info-title-1:hover img,
  .bam-info-wrap .bam-info-title-2:hover img {
    transform: translateY(-0.5em) !important;
  }
  .bam-info-wrap .bam-info-say-1:hover > div,
  .bam-info-wrap .bam-info-say-2:hover > div {
    transform: translateY(-0.5em) !important;
  }
  .bam-info-wrap .info-a-block:hover {
    transform: translateY(-0.5em) !important;
  }
}
@media only screen and (max-width: 1024px) {
  .bam-info-wrap {
    font-size: 1.9vw;
  }
  .bam-info-wrap .bam-info-short.main-1 {
    height: 255em;
  }
  .bam-info-wrap .bam-info-short.main-1.active {
    height: 255em;
  }
  .bam-info-wrap .bam-info-short.main-2 {
    height: 295em;
  }
  .bam-info-wrap .bam-info-short.main-2.active {
    height: 295em;
  }
  .bam-info-wrap .bam-info-short .bam-info-cut {
    display: none !important;
  }
  .bam-info-wrap .bam-info-bg {
    padding-top: 571.875%;
  }
  .bam-info-wrap .bam-info-title {
    left: 7%;
    width: 58%;
  }
  .bam-info-wrap .bam-info-title .kv-ppl {
    bottom: -5%;
    right: -12%;
    width: 18%;
  }
  .bam-info-wrap .bam-info-title-1,
  .bam-info-wrap .bam-info-title-2 {
    width: 40%;
  }
  .bam-info-wrap .bam-info-title-1 {
    top: 14.65%;
    left: 5%;
  }
  .bam-info-wrap .bam-info-title-2 {
    top: 5.75%;
    left: 22%;
  }
  .bam-info-wrap .bam-info-say-1,
  .bam-info-wrap .bam-info-say-2 {
    width: 27%;
  }
  .bam-info-wrap .bam-info-say-1 {
    top: 17.75%;
    left: 50%;
  }
  .bam-info-wrap .bam-info-say-1 span {
    bottom: 1%;
    left: 66%;
  }
  .bam-info-wrap .bam-info-say-2 {
    top: 8%;
    left: 66.5%;
  }
  .bam-info-wrap .bam-info-say-2 span {
    bottom: 1%;
    left: 66%;
  }
  .bam-info-wrap .bam-info-house-1,
  .bam-info-wrap .bam-info-house-2 {
    width: 63%;
  }
  .bam-info-wrap .bam-info-house-1 {
    top: 18.5%;
    left: 17%;
  }
  .bam-info-wrap .bam-info-house-2 {
    top: 9%;
    left: 33%;
  }
  .bam-info-wrap .bam-info-des {
    width: 84.5%;
    top: 4%;
  }
  .bam-info-wrap .bam-info-des p {
    width: 90%;
  }
  .bam-info-wrap .car-green {
    top: 12.5%;
    left: 8%;
    width: 10%;
  }
  .bam-info-wrap .car-blue {
    top: 23.5%;
    left: 85%;
    width: 8%;
  }
  .bam-info-wrap .car-red {
    top: 31.1%;
    left: 5%;
    width: 9%;
  }
  .bam-info-wrap .info-stand {
    width: 38%;
  }
  .bam-info-wrap .info-stand img {
    width: 24%;
  }
  .bam-info-wrap .info-stand article h3 {
    font-size: 1.5em;
  }
  .bam-info-wrap .info-stand article p {
    font-size: 0.9em;
    padding: 0.25em 0 0.5em 0;
  }
  .bam-info-wrap .info-block-video {
    width: 38%;
    top: 24.5%;
    left: 8%;
  }
  .bam-info-wrap .info-a-block {
    width: 30%;
  }
  .bam-info-wrap .info-a-block h4 {
    transform: translate(-50%, -120%);
  }
  .bam-info-wrap .info-a-title.small {
    width: 22%;
  }
  .bam-info-wrap .info-a-title.big {
    width: 30%;
  }
  .bam-info-wrap .info-a-title.big p {
    top: 12%;
  }
  .bam-info-wrap .notice-block {
    width: 80%;
    line-height: 175%;
  }
  .bam-info-wrap .notice-block h4 {
    margin-bottom: 1em;
  }
  .bam-info-wrap .bam-info-content-blue .info-block-1 .info-stand,
  .bam-info-wrap .bam-info-content-pink .info-block-1 .info-stand {
    top: 29.25%;
    left: 59%;
  }
  .bam-info-wrap .bam-info-content-blue .info-block-2 .info-stand,
  .bam-info-wrap .bam-info-content-pink .info-block-2 .info-stand {
    top: 47.25%;
    left: 5%;
  }
  .bam-info-wrap .bam-info-content-blue .info-block-3 .info-stand,
  .bam-info-wrap .bam-info-content-pink .info-block-3 .info-stand {
    top: 59%;
    left: 57%;
  }
  .bam-info-wrap .bam-info-content-blue .notice-block,
  .bam-info-wrap .bam-info-content-pink .notice-block {
    top: 76%;
  }
  .bam-info-wrap .bam-info-content-pink .notice-block {
    top: 89%;
  }
  .bam-info-wrap .bam-info-lightbox-blue,
  .bam-info-wrap .bam-info-lightbox-pink {
    width: 90%;
    padding: 1.5em;
  }
  .bam-info-wrap .bam-info-lightbox-blue .bam-info-lightbox-close,
  .bam-info-wrap .bam-info-lightbox-pink .bam-info-lightbox-close {
    width: 3em;
  }
  .bam-info-wrap .bam-info-lightbox-blue h4,
  .bam-info-wrap .bam-info-lightbox-pink h4 {
    font-size: 2em;
  }
  .bam-info-wrap .bam-info-lightbox-blue article,
  .bam-info-wrap .bam-info-lightbox-pink article {
    font-size: 1.5em;
  }
  .bam-info-wrap .info-popup-block {
    width: 95%;
    max-width: 500px;
    height: auto;
  }
  .bam-info-wrap .info-popup-block img {
    width: 100%;
    height: auto;
  }
  .bam-info-wrap .bam-info-lightbox-youtube .bam-info-yt-wrap {
    width: 95%;
  }
  .bam-info-wrap .bam-info-lightbox-youtube .bam-info-yt-wrap .bam-info-lightbox-youtube-close {
    width: 8%;
  }
  .bam-info-wrap [data-popup=blue-1] {
    top: 31.75%;
    left: 42%;
  }
  .bam-info-wrap [data-popup=blue-2] {
    top: 35.75%;
    left: 66%;
  }
  .bam-info-wrap [data-popup=blue-3] {
    top: 33.75%;
    left: 25%;
  }
  .bam-info-wrap [data-popup=blue-4] {
    top: 37.9%;
    left: 55%;
  }
  .bam-info-wrap [data-popup=blue-5] {
    top: 35.85%;
    left: 10%;
  }
  .bam-info-wrap [data-popup=blue-6] {
    top: 40%;
    left: 35%;
  }
  .bam-info-wrap [data-popup=blue-7] {
    top: 50.75%;
    left: 48%;
  }
  .bam-info-wrap [data-popup=blue-8] {
    top: 52.55%;
    left: 27%;
  }
  .bam-info-wrap [data-popup=blue-9] {
    top: 54.5%;
    left: 10%;
  }
  .bam-info-wrap [data-popup=blue-10] {
    top: 62%;
    left: 45%;
  }
  .bam-info-wrap [data-popup=blue-11] {
    top: 65.25%;
    left: 64%;
  }
  .bam-info-wrap [data-popup=blue-12] {
    top: 64.25%;
    left: 23%;
  }
  .bam-info-wrap [data-popup=blue-13] {
    top: 72.5%;
    left: 53%;
  }
  .bam-info-wrap [data-popup=blue-14] {
    top: 69%;
    left: 42%;
  }
  .bam-info-wrap .info-a-title-1 {
    top: 59.5%;
    left: 48%;
  }
  .bam-info-wrap .info-a-title-2 {
    top: 64.5%;
    left: 64%;
  }
  .bam-info-wrap .info-a-title-3 {
    top: 75.5%;
    left: 12%;
  }
  .bam-info-wrap .info-a-title-4 {
    top: 79.25%;
    left: 54%;
  }
  .bam-info-wrap [data-popup=pink-1] {
    top: 31.25%;
    left: 38%;
  }
  .bam-info-wrap [data-popup=pink-2] {
    top: 33.25%;
    left: 27%;
  }
  .bam-info-wrap [data-popup=pink-3] {
    top: 36.25%;
    left: 64%;
  }
  .bam-info-wrap [data-popup=pink-4] {
    top: 35.5%;
    left: 10%;
  }
  .bam-info-wrap [data-popup=pink-5] {
    top: 39.25%;
    left: 45%;
  }
  .bam-info-wrap [data-popup=pink-6] {
    top: 51.5%;
    left: 43%;
  }
  .bam-info-wrap [data-popup=pink-7] {
    top: 54%;
    left: 12%;
  }
  .bam-info-wrap [data-popup=pink-8] {
    top: 61.5%;
    left: 43%;
  }
  .bam-info-wrap [data-popup=pink-9] {
    top: 65.75%;
    left: 9%;
  }
  .bam-info-wrap [data-popup=pink-10] {
    top: 63.5%;
    left: 26%;
  }
  .bam-info-wrap [data-popup=pink-11] {
    top: 71%;
    left: 29%;
  }
  .bam-info-wrap [data-popup=pink-12] {
    top: 68%;
    left: 45%;
  }
  .bam-info-wrap [data-popup=pink-13] {
    top: 71%;
    left: 66%;
  }
  .bam-info-wrap [data-popup=pink-14] {
    top: 74%;
    left: 54%;
  }
  .bam-info-wrap [data-popup=pink-15] {
    top: 77.5%;
    left: 10%;
  }
  .bam-info-wrap [data-popup=pink-16] {
    top: 81.5%;
    left: 55%;
  }
  .bam-info-wrap [data-popup=pink-17] {
    top: 83.75%;
    left: 21%;
  }
  .bam-info-wrap [data-popup=pink-18] {
    top: 85%;
    left: 57%;
  }
}/*# sourceMappingURL=index.css.map */