@import 'style'

$black: #545454
$blue: #8cbded
$pink: #f9acac
$brown: #bf7064
    
.bam-info-wrap
    color: $black
    font-size: 1vw
    background: #FFF

    .bam-info-bg
        position: relative
        width: 100%
        padding-top: percentage(4296/1920)
        background-position: top center! important
        background-repeat: no-repeat! important
        background-size: cover! important

    .bam-info-title
        position: absolute
        top: 0
        left: 18%
        width: 32%
        .kv-ppl
            position: absolute
            bottom: -12%
            right: -15%
            width: 20%

    .bam-info-title-1,
    .bam-info-title-2
        position: absolute
        display: block
        width: 20%
    .bam-info-title-1
        top: 7.8%
        left: 26%
    .bam-info-title-2
        top: 2%
        left: 56.25%

    .bam-info-say-1,
    .bam-info-say-2
        position: absolute
        display: block
        width: 14.5%
        p
            position: absolute
            font-size: 0.9em
            top: 0
            left: 0
            text-align: justify
            line-height: 135%
            padding: 0.65em 1.25em
        span
            display: block
            position: absolute
    .bam-info-say-1
        top: 13%
        left: 18%
        span
            bottom: 5.5%
            left: 50%
            color: $blue
    .bam-info-say-2
        top: 7.25%
        left: 68.5%
        span
            bottom: 3.5%
            left: 65.5%
            color: $pink

    .bam-info-house-1,
    .bam-info-house-2
        display: block
        position: absolute
        width: 33.5%
    .bam-info-house-1
        top: 14.1%
        left: 24.5%
    .bam-info-house-2
        top: 8.2%
        left: 49.6%


    .info-stand
        position: absolute
        width: 19.5%
        img
            display: block
            width: 24%
            margin: auto
        article
            position: absolute
            bottom: 100%
            left: 0
            width: 100%
            text-align: center
            color: #FFF
            padding: 1em 0
            background: var(--color-main)
            border-radius: 1.5em
            &::after
                position: absolute
                top: 0.6em
                left: 0.6em
                width: calc(100% - 1.2em)
                height: calc(100% - 1.2em)
                content: ''
                border: 1px solid #FFF
                border-radius: 1.25em
            h3
                font-size: 1.5em
            p
                font-size: 0.9em
                padding: 0.25em 0 0.5em 0
    .info-block-video
        position: absolute
        width: 20%
        top: 22.5%
        left: 19.5%
    .info-a-block
        display: block
        position: absolute
        width: 15.5%
        > img
            position: absolute
            display: block
            bottom: 0
            left: 0
            width: 28%
            transform: translateX(-50%)
        h4
            position: absolute
            font-size: 1em
            width: 2em
            bottom: 0
            left: 0
            line-height: 120%
            transform: translate(-50%, -105%)
        article
            border: 2px solid var(--color-main)
            border-radius: 1em 1em 1em 0
            background: #FFF
            font-size: 0.9em
            padding: 0.5em 0.5em 0.5em 2.75em
            line-height: 125%
            img
                display: block
                margin-bottom: 0.25em
    .info-a-title
        position: absolute
        p
            position: absolute
            top: 18%
            left: 48%
            color: #FFF
            transform: translateX(-50%)
            font-size: 1.25em
            letter-spacing: 0.1em
            white-space: nowrap
        &.small
            width: 12%
        &.big
            width: 18%
            p
                top: 15%
    .notice-block
        position: absolute
        left: 0
        right: 0
        margin: auto
        border: 2px solid $brown
        width: 58%
        padding: 2em 3em
        text-align: justify
        border-radius: 1.5em
        background: #FFF
        line-height: 200%
        h4
            text-align: center
            color: $brown
            font-size: 1.5em
            margin-bottom: 0.5em
        ol
            margin-left: 1em

    .bam-info-content-blue
        .info-block-1
            --color-main: #a2d0f2
            .info-stand
                top: 25.5%
                left: 63%
        .info-block-2
            --color-main: #77c1ff
            .info-stand
                top: 40%
                left: 17.5%
        .info-block-3
            --color-main: #638edd
            .info-stand
                top: 54.5%
                left: 63%
        .notice-block
            top: 75%
    .bam-info-content-pink
        .info-block-1
            --color-main: #ff9999
            .info-stand
                top: 25.5%
                left: 63%
        .info-block-2
            --color-main: #f47878
            .info-stand
                top: 40%
                left: 17.5%
        .info-block-3
            --color-main: #f95858
            .info-stand
                top: 54.5%
                left: 63%
        .notice-block
            top: 88%



@media only screen and (min-width: 1025px)

@media only screen and (max-width: 1024px)