@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}
body.fix {
  overflow: hidden;
}

.bam-info-wrap {
  width: 100%;
  font-family: "Noto Sans TC";
  -moz-text-size-adjust: none;
       text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
.bam-info-wrap *:not(.swiper-button) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bam-info-wrap *:not(.swiper-button)::before, .bam-info-wrap *:not(.swiper-button)::after {
  box-sizing: border-box;
}
.bam-info-wrap a {
  text-decoration: none;
  color: inherit;
}
.bam-info-wrap .fullimg {
  display: block;
  width: 100%;
}
.bam-info-wrap .swiper-button {
  z-index: 1;
}
.bam-info-wrap .swiper-button::after {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .for-m {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .for-pc {
    display: none !important;
  }
}
.bam-info-wrap {
  color: #545454;
  font-size: 1vw;
  background: #FFF;
}
.bam-info-wrap .bam-info-bg {
  position: relative;
  width: 100%;
  padding-top: 223.75%;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.bam-info-wrap .bam-info-title {
  position: absolute;
  top: 0;
  left: 18%;
  width: 32%;
}
.bam-info-wrap .bam-info-title .kv-ppl {
  position: absolute;
  bottom: -12%;
  right: -15%;
  width: 20%;
}
.bam-info-wrap .bam-info-title-1,
.bam-info-wrap .bam-info-title-2 {
  position: absolute;
  display: block;
  width: 20%;
}
.bam-info-wrap .bam-info-title-1 {
  top: 7.8%;
  left: 26%;
}
.bam-info-wrap .bam-info-title-2 {
  top: 2%;
  left: 56.25%;
}
.bam-info-wrap .bam-info-say-1,
.bam-info-wrap .bam-info-say-2 {
  position: absolute;
  display: block;
  width: 14.5%;
}
.bam-info-wrap .bam-info-say-1 p,
.bam-info-wrap .bam-info-say-2 p {
  position: absolute;
  font-size: 0.9em;
  top: 0;
  left: 0;
  text-align: justify;
  line-height: 135%;
  padding: 0.65em 1.25em;
}
.bam-info-wrap .bam-info-say-1 span,
.bam-info-wrap .bam-info-say-2 span {
  display: block;
  position: absolute;
}
.bam-info-wrap .bam-info-say-1 {
  top: 13%;
  left: 18%;
}
.bam-info-wrap .bam-info-say-1 span {
  bottom: 5.5%;
  left: 50%;
  color: #8cbded;
}
.bam-info-wrap .bam-info-say-2 {
  top: 7.25%;
  left: 68.5%;
}
.bam-info-wrap .bam-info-say-2 span {
  bottom: 3.5%;
  left: 65.5%;
  color: #f9acac;
}
.bam-info-wrap .bam-info-house-1,
.bam-info-wrap .bam-info-house-2 {
  display: block;
  position: absolute;
  width: 33.5%;
}
.bam-info-wrap .bam-info-house-1 {
  top: 14.1%;
  left: 24.5%;
}
.bam-info-wrap .bam-info-house-2 {
  top: 8.2%;
  left: 49.6%;
}
.bam-info-wrap .info-stand {
  position: absolute;
  width: 19.5%;
}
.bam-info-wrap .info-stand img {
  display: block;
  width: 24%;
  margin: auto;
}
.bam-info-wrap .info-stand article {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  padding: 1em 0;
  background: var(--color-main);
  border-radius: 1.5em;
}
.bam-info-wrap .info-stand article::after {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  width: calc(100% - 1.2em);
  height: calc(100% - 1.2em);
  content: "";
  border: 1px solid #FFF;
  border-radius: 1.25em;
}
.bam-info-wrap .info-stand article h3 {
  font-size: 1.5em;
}
.bam-info-wrap .info-stand article p {
  font-size: 0.9em;
  padding: 0.25em 0 0.5em 0;
}
.bam-info-wrap .info-block-video {
  position: absolute;
  width: 20%;
  top: 22.5%;
  left: 19.5%;
}
.bam-info-wrap .info-a-block {
  display: block;
  position: absolute;
  width: 15.5%;
}
.bam-info-wrap .info-a-block > img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 28%;
  transform: translateX(-50%);
}
.bam-info-wrap .info-a-block h4 {
  position: absolute;
  font-size: 1em;
  width: 2em;
  bottom: 0;
  left: 0;
  line-height: 120%;
  transform: translate(-50%, -105%);
}
.bam-info-wrap .info-a-block article {
  border: 2px solid var(--color-main);
  border-radius: 1em 1em 1em 0;
  background: #FFF;
  font-size: 0.9em;
  padding: 0.5em 0.5em 0.5em 2.75em;
  line-height: 125%;
}
.bam-info-wrap .info-a-block article img {
  display: block;
  margin-bottom: 0.25em;
}
.bam-info-wrap .info-a-title {
  position: absolute;
}
.bam-info-wrap .info-a-title p {
  position: absolute;
  top: 18%;
  left: 48%;
  color: #FFF;
  transform: translateX(-50%);
  font-size: 1.25em;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.bam-info-wrap .info-a-title.small {
  width: 12%;
}
.bam-info-wrap .info-a-title.big {
  width: 18%;
}
.bam-info-wrap .info-a-title.big p {
  top: 15%;
}
.bam-info-wrap .notice-block {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #bf7064;
  width: 58%;
  padding: 2em 3em;
  text-align: justify;
  border-radius: 1.5em;
  background: #FFF;
  line-height: 200%;
}
.bam-info-wrap .notice-block h4 {
  text-align: center;
  color: #bf7064;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.bam-info-wrap .notice-block ol {
  margin-left: 1em;
}
.bam-info-wrap .bam-info-content-blue .info-block-1 {
  --color-main: #a2d0f2;
}
.bam-info-wrap .bam-info-content-blue .info-block-1 .info-stand {
  top: 25.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-blue .info-block-2 {
  --color-main: #77c1ff;
}
.bam-info-wrap .bam-info-content-blue .info-block-2 .info-stand {
  top: 40%;
  left: 17.5%;
}
.bam-info-wrap .bam-info-content-blue .info-block-3 {
  --color-main: #638edd;
}
.bam-info-wrap .bam-info-content-blue .info-block-3 .info-stand {
  top: 54.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-blue .notice-block {
  top: 75%;
}
.bam-info-wrap .bam-info-content-pink .info-block-1 {
  --color-main: #ff9999;
}
.bam-info-wrap .bam-info-content-pink .info-block-1 .info-stand {
  top: 25.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-pink .info-block-2 {
  --color-main: #f47878;
}
.bam-info-wrap .bam-info-content-pink .info-block-2 .info-stand {
  top: 40%;
  left: 17.5%;
}
.bam-info-wrap .bam-info-content-pink .info-block-3 {
  --color-main: #f95858;
}
.bam-info-wrap .bam-info-content-pink .info-block-3 .info-stand {
  top: 54.5%;
  left: 63%;
}
.bam-info-wrap .bam-info-content-pink .notice-block {
  top: 88%;
}/*# sourceMappingURL=index.css.map */